 #nav-bar {
  position: fixed;
  width: 100%;

  height: 80px;

  background-color: #00a870;
  padding-left: 2em;
  padding-right: 2em;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 10;
}

#nav-bar .logo {

  margin-right: 1em;
  width: 80px;
  height: 80px;
  float: left;


}

.header  {

  font-size: 2em;

  color: white;

  line-height: 80px;
  float: left;
}

#nav-span {
  color: #00a870;
  float: right;
  height: 50px;
  width: 75px;
  line-height:80px;
  background-color: white;
  margin: 15px;
  border-radius: 5px;
  border: 2px solid black;


}
