
.new-tweet {
  background-color: #eee;
  margin: 2em;
  border: 1px solid #cecece;
  padding: 1em;
  padding-bottom: 2em;
  border-radius: 5px;
 }

 .new-tweet h2 {
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 0px;
}

.new-tweet textarea {
  margin-top: 10px;
  height: 3em;
  width: 100%;
  padding-bottom: 30px;
}

section span {
  float: right;
  padding-bottom: 20px;
}

#warning {
  float: left;
  color: red;
}

#butt {
  float: left;
}