
/*area*/

.new-tweet {
  background-color: #eee;
  margin: 2em;
  border: 1px solid #cecece;
  padding: 1em;
  border-radius: 5px;
 }
/*underline*/

 .new-tweet h2 {
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 0px;
}

/*text area*/

.new-tweet textarea {
  margin-top: 10px;
  height: 3em;
  width: 100%;
  padding: 5px;
}
/* button*/
section span {
  float: right;
}